#define CREATE_BINARY_COMBO(NAME, BINDINGS, KEYS) \
  cb##NAME: combo_bin_##NAME { \
      bindings = <BINDINGS>; \
      key-positions = <KEYS> ; \
  };

// Binary number combos
CREATE_BINARY_COMBO(1, &kp N1, 74)
CREATE_BINARY_COMBO(2, &kp N2, 73)
CREATE_BINARY_COMBO(3, &kp N3, 73 74)
CREATE_BINARY_COMBO(4, &kp N4, 72)
CREATE_BINARY_COMBO(5, &kp N5, 72 74)
CREATE_BINARY_COMBO(6, &kp N6, 72 73)
CREATE_BINARY_COMBO(7, &kp N7, 72 73 74)
CREATE_BINARY_COMBO(8, &kp N8, 71)
CREATE_BINARY_COMBO(9, &kp N9, 71 74)
CREATE_BINARY_COMBO(10, &macro_2_key N1 N0, 71 73)
CREATE_BINARY_COMBO(11, &macro_2_key N1 N1, 71 73 74)
CREATE_BINARY_COMBO(12, &macro_2_key N1 N2, 71 72)
CREATE_BINARY_COMBO(13, &macro_2_key N1 N3, 71 72 74)
CREATE_BINARY_COMBO(14, &macro_2_key N1 N4, 71 72 73)
CREATE_BINARY_COMBO(15, &macro_2_key N1 N5, 71 72 73 74)
CREATE_BINARY_COMBO(16, &macro_2_key N1 N6, 64)
CREATE_BINARY_COMBO(17, &macro_2_key N1 N7, 64 74)
CREATE_BINARY_COMBO(18, &macro_2_key N1 N8, 64 73)
CREATE_BINARY_COMBO(19, &macro_2_key N1 N9, 64 73 74)
CREATE_BINARY_COMBO(20, &macro_2_key N2 N0, 64 72)
CREATE_BINARY_COMBO(21, &macro_2_key N2 N1, 64 72 74)
CREATE_BINARY_COMBO(22, &macro_2_key N2 N2, 64 72 73)
CREATE_BINARY_COMBO(23, &macro_2_key N2 N3, 64 72 73 74)
CREATE_BINARY_COMBO(24, &macro_2_key N2 N4, 64 71)
CREATE_BINARY_COMBO(25, &macro_2_key N2 N5, 64 71 74)
CREATE_BINARY_COMBO(26, &macro_2_key N2 N6, 64 71 73)
CREATE_BINARY_COMBO(27, &macro_2_key N2 N7, 64 71 73 74)
CREATE_BINARY_COMBO(28, &macro_2_key N2 N8, 64 71 72)
CREATE_BINARY_COMBO(29, &macro_2_key N2 N9, 64 71 72 74)
CREATE_BINARY_COMBO(30, &macro_2_key N3 N0, 64 71 72 73)
CREATE_BINARY_COMBO(31, &macro_2_key N3 N1, 64 71 72 73 74)
CREATE_BINARY_COMBO(32, &macro_2_key N3 N2, 63)
CREATE_BINARY_COMBO(33, &macro_2_key N3 N3, 63 74)
CREATE_BINARY_COMBO(34, &macro_2_key N3 N4, 63 73)
CREATE_BINARY_COMBO(35, &macro_2_key N3 N5, 63 73 74)
CREATE_BINARY_COMBO(36, &macro_2_key N3 N6, 63 72)
CREATE_BINARY_COMBO(37, &macro_2_key N3 N7, 63 72 74)
CREATE_BINARY_COMBO(38, &macro_2_key N3 N8, 63 72 73)
CREATE_BINARY_COMBO(39, &macro_2_key N3 N9, 63 72 73 74)
CREATE_BINARY_COMBO(40, &macro_2_key N4 N0, 63 71)
CREATE_BINARY_COMBO(41, &macro_2_key N4 N1, 63 71 74)
CREATE_BINARY_COMBO(42, &macro_2_key N4 N2, 63 71 73)
CREATE_BINARY_COMBO(43, &macro_2_key N4 N3, 63 71 73 74)
CREATE_BINARY_COMBO(44, &macro_2_key N4 N4, 63 71 72)
CREATE_BINARY_COMBO(45, &macro_2_key N4 N5, 63 71 72 74)
CREATE_BINARY_COMBO(46, &macro_2_key N4 N6, 63 71 72 73)
CREATE_BINARY_COMBO(47, &macro_2_key N4 N7, 63 71 72 73 74)
CREATE_BINARY_COMBO(48, &macro_2_key N4 N8, 63 64)
CREATE_BINARY_COMBO(49, &macro_2_key N4 N9, 63 64 74)
CREATE_BINARY_COMBO(50, &macro_2_key N5 N0, 63 64 73)
CREATE_BINARY_COMBO(51, &macro_2_key N5 N1, 63 64 73 74)
CREATE_BINARY_COMBO(52, &macro_2_key N5 N2, 63 64 72)
CREATE_BINARY_COMBO(53, &macro_2_key N5 N3, 63 64 72 74)
CREATE_BINARY_COMBO(54, &macro_2_key N5 N4, 63 64 72 73)
CREATE_BINARY_COMBO(55, &macro_2_key N5 N5, 63 64 72 73 74)
CREATE_BINARY_COMBO(56, &macro_2_key N5 N6, 63 64 71)
CREATE_BINARY_COMBO(57, &macro_2_key N5 N7, 63 64 71 74)
CREATE_BINARY_COMBO(58, &macro_2_key N5 N8, 63 64 71 73)
CREATE_BINARY_COMBO(59, &macro_2_key N5 N9, 63 64 71 73 74)
CREATE_BINARY_COMBO(60, &macro_2_key N6 N0, 63 64 71 72)
CREATE_BINARY_COMBO(61, &macro_2_key N6 N1, 63 64 71 72 74)
CREATE_BINARY_COMBO(62, &macro_2_key N6 N2, 63 64 71 72 73)
CREATE_BINARY_COMBO(63, &macro_2_key N6 N3, 63 64 71 72 73 74)
CREATE_BINARY_COMBO(64, &macro_2_key N6 N4, 62)
CREATE_BINARY_COMBO(65, &macro_2_key N6 N5, 62 74)
CREATE_BINARY_COMBO(66, &macro_2_key N6 N6, 62 73)
CREATE_BINARY_COMBO(67, &macro_2_key N6 N7, 62 73 74)
CREATE_BINARY_COMBO(68, &macro_2_key N6 N8, 62 72)
CREATE_BINARY_COMBO(69, &macro_2_key N6 N9, 62 72 74)
CREATE_BINARY_COMBO(70, &macro_2_key N7 N0, 62 72 73)
CREATE_BINARY_COMBO(71, &macro_2_key N7 N1, 62 72 73 74)
CREATE_BINARY_COMBO(72, &macro_2_key N7 N2, 62 71)
CREATE_BINARY_COMBO(73, &macro_2_key N7 N3, 62 71 74)
CREATE_BINARY_COMBO(74, &macro_2_key N7 N4, 62 71 73)
CREATE_BINARY_COMBO(75, &macro_2_key N7 N5, 62 71 73 74)
CREATE_BINARY_COMBO(76, &macro_2_key N7 N6, 62 71 72)
CREATE_BINARY_COMBO(77, &macro_2_key N7 N7, 62 71 72 74)
CREATE_BINARY_COMBO(78, &macro_2_key N7 N8, 62 71 72 73)
CREATE_BINARY_COMBO(79, &macro_2_key N7 N9, 62 71 72 73 74)
CREATE_BINARY_COMBO(80, &macro_2_key N8 N0, 62 64)
CREATE_BINARY_COMBO(81, &macro_2_key N8 N1, 62 64 74)
CREATE_BINARY_COMBO(82, &macro_2_key N8 N2, 62 64 73)
CREATE_BINARY_COMBO(83, &macro_2_key N8 N3, 62 64 73 74)
CREATE_BINARY_COMBO(84, &macro_2_key N8 N4, 62 64 72)
CREATE_BINARY_COMBO(85, &macro_2_key N8 N5, 62 64 72 74)
CREATE_BINARY_COMBO(86, &macro_2_key N8 N6, 62 64 72 73)
CREATE_BINARY_COMBO(87, &macro_2_key N8 N7, 62 64 72 73 74)
CREATE_BINARY_COMBO(88, &macro_2_key N8 N8, 62 64 71)
CREATE_BINARY_COMBO(89, &macro_2_key N8 N9, 62 64 71 74)
CREATE_BINARY_COMBO(90, &macro_2_key N9 N0, 62 64 71 73)
CREATE_BINARY_COMBO(91, &macro_2_key N9 N1, 62 64 71 73 74)
CREATE_BINARY_COMBO(92, &macro_2_key N9 N2, 62 64 71 72)
CREATE_BINARY_COMBO(93, &macro_2_key N9 N3, 62 64 71 72 74)
CREATE_BINARY_COMBO(94, &macro_2_key N9 N4, 62 64 71 72 73)
CREATE_BINARY_COMBO(95, &macro_2_key N9 N5, 62 64 71 72 73 74)
CREATE_BINARY_COMBO(96, &macro_2_key N9 N6, 62 63)
CREATE_BINARY_COMBO(97, &macro_2_key N9 N7, 62 63 74)
CREATE_BINARY_COMBO(98, &macro_2_key N9 N8, 62 63 73)
CREATE_BINARY_COMBO(99, &macro_2_key N9 N9, 62 63 73 74)
CREATE_BINARY_COMBO(100, &write_number_3_1 N0 N0, 62 63 72)
CREATE_BINARY_COMBO(101, &write_number_3_1 N0 N1, 62 63 72 74)
CREATE_BINARY_COMBO(102, &write_number_3_1 N0 N2, 62 63 72 73)
CREATE_BINARY_COMBO(103, &write_number_3_1 N0 N3, 62 63 72 73 74)
CREATE_BINARY_COMBO(104, &write_number_3_1 N0 N4, 62 63 71)
CREATE_BINARY_COMBO(105, &write_number_3_1 N0 N5, 62 63 71 74)
CREATE_BINARY_COMBO(106, &write_number_3_1 N0 N6, 62 63 71 73)
CREATE_BINARY_COMBO(107, &write_number_3_1 N0 N7, 62 63 71 73 74)
CREATE_BINARY_COMBO(108, &write_number_3_1 N0 N8, 62 63 71 72)
CREATE_BINARY_COMBO(109, &write_number_3_1 N0 N9, 62 63 71 72 74)
CREATE_BINARY_COMBO(110, &write_number_3_1 N1 N0, 62 63 71 72 73)
CREATE_BINARY_COMBO(111, &write_number_3_1 N1 N1, 62 63 71 72 73 74)
CREATE_BINARY_COMBO(112, &write_number_3_1 N1 N2, 62 63 64)
CREATE_BINARY_COMBO(113, &write_number_3_1 N1 N3, 62 63 64 74)
CREATE_BINARY_COMBO(114, &write_number_3_1 N1 N4, 62 63 64 73)
CREATE_BINARY_COMBO(115, &write_number_3_1 N1 N5, 62 63 64 73 74)
CREATE_BINARY_COMBO(116, &write_number_3_1 N1 N6, 62 63 64 72)
CREATE_BINARY_COMBO(117, &write_number_3_1 N1 N7, 62 63 64 72 74)
CREATE_BINARY_COMBO(118, &write_number_3_1 N1 N8, 62 63 64 72 73)
CREATE_BINARY_COMBO(119, &write_number_3_1 N1 N9, 62 63 64 72 73 74)
CREATE_BINARY_COMBO(120, &write_number_3_1 N2 N0, 62 63 64 71)
CREATE_BINARY_COMBO(121, &write_number_3_1 N2 N1, 62 63 64 71 74)
CREATE_BINARY_COMBO(122, &write_number_3_1 N2 N2, 62 63 64 71 73)
CREATE_BINARY_COMBO(123, &write_number_3_1 N2 N3, 62 63 64 71 73 74)
CREATE_BINARY_COMBO(124, &write_number_3_1 N2 N4, 62 63 64 71 72)
CREATE_BINARY_COMBO(125, &write_number_3_1 N2 N5, 62 63 64 71 72 74)
CREATE_BINARY_COMBO(126, &write_number_3_1 N2 N6, 62 63 64 71 72 73)
CREATE_BINARY_COMBO(127, &write_number_3_1 N2 N7, 62 63 64 71 72 73 74)
CREATE_BINARY_COMBO(128, &write_number_3_1 N2 N8, 61)
CREATE_BINARY_COMBO(129, &write_number_3_1 N2 N9, 61 74)
CREATE_BINARY_COMBO(130, &write_number_3_1 N3 N0, 61 73)
CREATE_BINARY_COMBO(131, &write_number_3_1 N3 N1, 61 73 74)
CREATE_BINARY_COMBO(132, &write_number_3_1 N3 N2, 61 72)
CREATE_BINARY_COMBO(133, &write_number_3_1 N3 N3, 61 72 74)
CREATE_BINARY_COMBO(134, &write_number_3_1 N3 N4, 61 72 73)
CREATE_BINARY_COMBO(135, &write_number_3_1 N3 N5, 61 72 73 74)
CREATE_BINARY_COMBO(136, &write_number_3_1 N3 N6, 61 71)
CREATE_BINARY_COMBO(137, &write_number_3_1 N3 N7, 61 71 74)
CREATE_BINARY_COMBO(138, &write_number_3_1 N3 N8, 61 71 73)
CREATE_BINARY_COMBO(139, &write_number_3_1 N3 N9, 61 71 73 74)
CREATE_BINARY_COMBO(140, &write_number_3_1 N4 N0, 61 71 72)
CREATE_BINARY_COMBO(141, &write_number_3_1 N4 N1, 61 71 72 74)
CREATE_BINARY_COMBO(142, &write_number_3_1 N4 N2, 61 71 72 73)
CREATE_BINARY_COMBO(143, &write_number_3_1 N4 N3, 61 71 72 73 74)
CREATE_BINARY_COMBO(144, &write_number_3_1 N4 N4, 61 64)
CREATE_BINARY_COMBO(145, &write_number_3_1 N4 N5, 61 64 74)
CREATE_BINARY_COMBO(146, &write_number_3_1 N4 N6, 61 64 73)
CREATE_BINARY_COMBO(147, &write_number_3_1 N4 N7, 61 64 73 74)
CREATE_BINARY_COMBO(148, &write_number_3_1 N4 N8, 61 64 72)
CREATE_BINARY_COMBO(149, &write_number_3_1 N4 N9, 61 64 72 74)
CREATE_BINARY_COMBO(150, &write_number_3_1 N5 N0, 61 64 72 73)
CREATE_BINARY_COMBO(151, &write_number_3_1 N5 N1, 61 64 72 73 74)
CREATE_BINARY_COMBO(152, &write_number_3_1 N5 N2, 61 64 71)
CREATE_BINARY_COMBO(153, &write_number_3_1 N5 N3, 61 64 71 74)
CREATE_BINARY_COMBO(154, &write_number_3_1 N5 N4, 61 64 71 73)
CREATE_BINARY_COMBO(155, &write_number_3_1 N5 N5, 61 64 71 73 74)
CREATE_BINARY_COMBO(156, &write_number_3_1 N5 N6, 61 64 71 72)
CREATE_BINARY_COMBO(157, &write_number_3_1 N5 N7, 61 64 71 72 74)
CREATE_BINARY_COMBO(158, &write_number_3_1 N5 N8, 61 64 71 72 73)
CREATE_BINARY_COMBO(159, &write_number_3_1 N5 N9, 61 64 71 72 73 74)
CREATE_BINARY_COMBO(160, &write_number_3_1 N6 N0, 61 63)
CREATE_BINARY_COMBO(161, &write_number_3_1 N6 N1, 61 63 74)
CREATE_BINARY_COMBO(162, &write_number_3_1 N6 N2, 61 63 73)
CREATE_BINARY_COMBO(163, &write_number_3_1 N6 N3, 61 63 73 74)
CREATE_BINARY_COMBO(164, &write_number_3_1 N6 N4, 61 63 72)
CREATE_BINARY_COMBO(165, &write_number_3_1 N6 N5, 61 63 72 74)
CREATE_BINARY_COMBO(166, &write_number_3_1 N6 N6, 61 63 72 73)
CREATE_BINARY_COMBO(167, &write_number_3_1 N6 N7, 61 63 72 73 74)
CREATE_BINARY_COMBO(168, &write_number_3_1 N6 N8, 61 63 71)
CREATE_BINARY_COMBO(169, &write_number_3_1 N6 N9, 61 63 71 74)
CREATE_BINARY_COMBO(170, &write_number_3_1 N7 N0, 61 63 71 73)
CREATE_BINARY_COMBO(171, &write_number_3_1 N7 N1, 61 63 71 73 74)
CREATE_BINARY_COMBO(172, &write_number_3_1 N7 N2, 61 63 71 72)
CREATE_BINARY_COMBO(173, &write_number_3_1 N7 N3, 61 63 71 72 74)
CREATE_BINARY_COMBO(174, &write_number_3_1 N7 N4, 61 63 71 72 73)
CREATE_BINARY_COMBO(175, &write_number_3_1 N7 N5, 61 63 71 72 73 74)
CREATE_BINARY_COMBO(176, &write_number_3_1 N7 N6, 61 63 64)
CREATE_BINARY_COMBO(177, &write_number_3_1 N7 N7, 61 63 64 74)
CREATE_BINARY_COMBO(178, &write_number_3_1 N7 N8, 61 63 64 73)
CREATE_BINARY_COMBO(179, &write_number_3_1 N7 N9, 61 63 64 73 74)
CREATE_BINARY_COMBO(180, &write_number_3_1 N8 N0, 61 63 64 72)
CREATE_BINARY_COMBO(181, &write_number_3_1 N8 N1, 61 63 64 72 74)
CREATE_BINARY_COMBO(182, &write_number_3_1 N8 N2, 61 63 64 72 73)
CREATE_BINARY_COMBO(183, &write_number_3_1 N8 N3, 61 63 64 72 73 74)
CREATE_BINARY_COMBO(184, &write_number_3_1 N8 N4, 61 63 64 71)
CREATE_BINARY_COMBO(185, &write_number_3_1 N8 N5, 61 63 64 71 74)
CREATE_BINARY_COMBO(186, &write_number_3_1 N8 N6, 61 63 64 71 73)
CREATE_BINARY_COMBO(187, &write_number_3_1 N8 N7, 61 63 64 71 73 74)
CREATE_BINARY_COMBO(188, &write_number_3_1 N8 N8, 61 63 64 71 72)
CREATE_BINARY_COMBO(189, &write_number_3_1 N8 N9, 61 63 64 71 72 74)
CREATE_BINARY_COMBO(190, &write_number_3_1 N9 N0, 61 63 64 71 72 73)
CREATE_BINARY_COMBO(191, &write_number_3_1 N9 N1, 61 63 64 71 72 73 74)
CREATE_BINARY_COMBO(192, &write_number_3_1 N9 N2, 61 62)
CREATE_BINARY_COMBO(193, &write_number_3_1 N9 N3, 61 62 74)
CREATE_BINARY_COMBO(194, &write_number_3_1 N9 N4, 61 62 73)
CREATE_BINARY_COMBO(195, &write_number_3_1 N9 N5, 61 62 73 74)
CREATE_BINARY_COMBO(196, &write_number_3_1 N9 N6, 61 62 72)
CREATE_BINARY_COMBO(197, &write_number_3_1 N9 N7, 61 62 72 74)
CREATE_BINARY_COMBO(198, &write_number_3_1 N9 N8, 61 62 72 73)
CREATE_BINARY_COMBO(199, &write_number_3_1 N9 N9, 61 62 72 73 74)
CREATE_BINARY_COMBO(200, &write_number_3_2 N0 N0, 61 62 71)
CREATE_BINARY_COMBO(201, &write_number_3_2 N0 N1, 61 62 71 74)
CREATE_BINARY_COMBO(202, &write_number_3_2 N0 N2, 61 62 71 73)
CREATE_BINARY_COMBO(203, &write_number_3_2 N0 N3, 61 62 71 73 74)
CREATE_BINARY_COMBO(204, &write_number_3_2 N0 N4, 61 62 71 72)
CREATE_BINARY_COMBO(205, &write_number_3_2 N0 N5, 61 62 71 72 74)
CREATE_BINARY_COMBO(206, &write_number_3_2 N0 N6, 61 62 71 72 73)
CREATE_BINARY_COMBO(207, &write_number_3_2 N0 N7, 61 62 71 72 73 74)
CREATE_BINARY_COMBO(208, &write_number_3_2 N0 N8, 61 62 64)
CREATE_BINARY_COMBO(209, &write_number_3_2 N0 N9, 61 62 64 74)
CREATE_BINARY_COMBO(210, &write_number_3_2 N1 N0, 61 62 64 73)
CREATE_BINARY_COMBO(211, &write_number_3_2 N1 N1, 61 62 64 73 74)
CREATE_BINARY_COMBO(212, &write_number_3_2 N1 N2, 61 62 64 72)
CREATE_BINARY_COMBO(213, &write_number_3_2 N1 N3, 61 62 64 72 74)
CREATE_BINARY_COMBO(214, &write_number_3_2 N1 N4, 61 62 64 72 73)
CREATE_BINARY_COMBO(215, &write_number_3_2 N1 N5, 61 62 64 72 73 74)
CREATE_BINARY_COMBO(216, &write_number_3_2 N1 N6, 61 62 64 71)
CREATE_BINARY_COMBO(217, &write_number_3_2 N1 N7, 61 62 64 71 74)
CREATE_BINARY_COMBO(218, &write_number_3_2 N1 N8, 61 62 64 71 73)
CREATE_BINARY_COMBO(219, &write_number_3_2 N1 N9, 61 62 64 71 73 74)
CREATE_BINARY_COMBO(220, &write_number_3_2 N2 N0, 61 62 64 71 72)
CREATE_BINARY_COMBO(221, &write_number_3_2 N2 N1, 61 62 64 71 72 74)
CREATE_BINARY_COMBO(222, &write_number_3_2 N2 N2, 61 62 64 71 72 73)
CREATE_BINARY_COMBO(223, &write_number_3_2 N2 N3, 61 62 64 71 72 73 74)
CREATE_BINARY_COMBO(224, &write_number_3_2 N2 N4, 61 62 63)
CREATE_BINARY_COMBO(225, &write_number_3_2 N2 N5, 61 62 63 74)
CREATE_BINARY_COMBO(226, &write_number_3_2 N2 N6, 61 62 63 73)
CREATE_BINARY_COMBO(227, &write_number_3_2 N2 N7, 61 62 63 73 74)
CREATE_BINARY_COMBO(228, &write_number_3_2 N2 N8, 61 62 63 72)
CREATE_BINARY_COMBO(229, &write_number_3_2 N2 N9, 61 62 63 72 74)
CREATE_BINARY_COMBO(230, &write_number_3_2 N3 N0, 61 62 63 72 73)
CREATE_BINARY_COMBO(231, &write_number_3_2 N3 N1, 61 62 63 72 73 74)
CREATE_BINARY_COMBO(232, &write_number_3_2 N3 N2, 61 62 63 71)
CREATE_BINARY_COMBO(233, &write_number_3_2 N3 N3, 61 62 63 71 74)
CREATE_BINARY_COMBO(234, &write_number_3_2 N3 N4, 61 62 63 71 73)
CREATE_BINARY_COMBO(235, &write_number_3_2 N3 N5, 61 62 63 71 73 74)
CREATE_BINARY_COMBO(236, &write_number_3_2 N3 N6, 61 62 63 71 72)
CREATE_BINARY_COMBO(237, &write_number_3_2 N3 N7, 61 62 63 71 72 74)
CREATE_BINARY_COMBO(238, &write_number_3_2 N3 N8, 61 62 63 71 72 73)
CREATE_BINARY_COMBO(239, &write_number_3_2 N3 N9, 61 62 63 71 72 73 74)
CREATE_BINARY_COMBO(240, &write_number_3_2 N4 N0, 61 62 63 64)
CREATE_BINARY_COMBO(241, &write_number_3_2 N4 N1, 61 62 63 64 74)
CREATE_BINARY_COMBO(242, &write_number_3_2 N4 N2, 61 62 63 64 73)
CREATE_BINARY_COMBO(243, &write_number_3_2 N4 N3, 61 62 63 64 73 74)
CREATE_BINARY_COMBO(244, &write_number_3_2 N4 N4, 61 62 63 64 72)
CREATE_BINARY_COMBO(245, &write_number_3_2 N4 N5, 61 62 63 64 72 74)
CREATE_BINARY_COMBO(246, &write_number_3_2 N4 N6, 61 62 63 64 72 73)
CREATE_BINARY_COMBO(247, &write_number_3_2 N4 N7, 61 62 63 64 72 73 74)
CREATE_BINARY_COMBO(248, &write_number_3_2 N4 N8, 61 62 63 64 71)
CREATE_BINARY_COMBO(249, &write_number_3_2 N4 N9, 61 62 63 64 71 74)
CREATE_BINARY_COMBO(250, &write_number_3_2 N5 N0, 61 62 63 64 71 73)
CREATE_BINARY_COMBO(251, &write_number_3_2 N5 N1, 61 62 63 64 71 73 74)
CREATE_BINARY_COMBO(252, &write_number_3_2 N5 N2, 61 62 63 64 71 72)
CREATE_BINARY_COMBO(253, &write_number_3_2 N5 N3, 61 62 63 64 71 72 74)
CREATE_BINARY_COMBO(254, &write_number_3_2 N5 N4, 61 62 63 64 71 72 73)
CREATE_BINARY_COMBO(255, &write_number_3_2 N5 N5, 61 62 63 64 71 72 73 74)
