#define CREATE_LETTER_DOUBLE_TAP(IN_KEY, OUT_KEY) \
  cdbl##OUT_KEY: combo_dbl_left_##OUT_KEY { \
      bindings = <&macro_dbl_tap OUT_KEY>; \
      key-positions = <IN_KEY 67>; \
      layers = <0>; \
  }; \
  cdbr##OUT_KEY: combo_dbl_right_##OUT_KEY { \
      bindings = <&macro_dbl_tap OUT_KEY>; \
      key-positions = <IN_KEY 68>; \
      layers = <0>; \
  };

CREATE_LETTER_DOUBLE_TAP(15, J)
CREATE_LETTER_DOUBLE_TAP(16, H)
CREATE_LETTER_DOUBLE_TAP(17, M)
CREATE_LETTER_DOUBLE_TAP(18, G)
CREATE_LETTER_DOUBLE_TAP(19, Q)
CREATE_LETTER_DOUBLE_TAP(22, V)
CREATE_LETTER_DOUBLE_TAP(22, C)
CREATE_LETTER_DOUBLE_TAP(24, U)
CREATE_LETTER_DOUBLE_TAP(25, O)
CREATE_LETTER_DOUBLE_TAP(26, X)
CREATE_LETTER_DOUBLE_TAP(29, S)
CREATE_LETTER_DOUBLE_TAP(30, N)
CREATE_LETTER_DOUBLE_TAP(31, T)
CREATE_LETTER_DOUBLE_TAP(32, Y)
CREATE_LETTER_DOUBLE_TAP(33, K)
CREATE_LETTER_DOUBLE_TAP(40, B)
CREATE_LETTER_DOUBLE_TAP(41, W)
CREATE_LETTER_DOUBLE_TAP(42, I)
CREATE_LETTER_DOUBLE_TAP(43, A)
CREATE_LETTER_DOUBLE_TAP(44, R)
CREATE_LETTER_DOUBLE_TAP(47, F)
CREATE_LETTER_DOUBLE_TAP(48, L)
CREATE_LETTER_DOUBLE_TAP(49, D)
CREATE_LETTER_DOUBLE_TAP(50, P)
CREATE_LETTER_DOUBLE_TAP(51, Z)

CREATE_LETTER_DOUBLE_TAP(69, E)